.title2 {
    color: teal;
    font-style: italic;
}

.cumplido {
    background-color: green;
}

.fallido {
    background-color: red;
}

/* =================================================================*/
